<div class="login">
    <h4>Administration</h4>
    <form method="post" action="attemptLogin">
        <div>
            <label class="labelLogin" for="login">Login :</label>
            <input class="inputLogin" type="text" id="login" name="login">
        </div>
        <div>
            <label class="labelLogin" for="pwd">Mot de passe :</label>
            <input class="inputLogin" type="password" id="password" name="password">
        </div>
        <div class="clear"></div>

        <button type="reset" class="btnForm" id="annuler">Annuler</button>
        <button type="submit" class="btnForm" id="connexion">Connexion</button>
    </form>
</div>