<div class="menuVipAdmin">
    <div class="headerMenuVipAdmin">
        <img src="/images/vips.png" alt="Image Entete">
    </div>
    <ul>
        <li class="divider">&nbsp</li>
        <li><a href="/ajouterPhoto">Ajouter</a></li>
        <li class="divider">&nbsp</li>
        <li><a href="/supprimerPhoto/listerVIP">Supprimer</a></li>
    </ul>
</div>

<fieldset>
    <legend>Suppression d'une photo</legend>
    {{#each }}

    {{/each}}

</fieldset>